@model MacroEntry

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Calories</h1>
        <h3>@Model.Calorie</h3>
    </div>
    <form asp-action="EditEntry" asp-route-id="@Model.Id" method="post">
    <div class="row text-center my-4">
        <div class="col-4">
            <h2>Fat</h2>
            <input asp-for="Fat" class="form-control mx-auto w-75 text-center" />
        </div>
        <div class="col-4">
            <h2>Carb</h2>
            <input asp-for="Carb" class="form-control mx-auto w-75 text-center" />
        </div>
        <div class="col-4">
            <h2>Protein</h2>
            <input asp-for="Protein" class="form-control mx-auto w-75 text-center" />
        </div>
    </div>
        <hr />
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary w-25">
                    Update
                </button>
        </div>
    </form>
</div>