<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Macro-Calc</title>
    <link rel="icon" type="image/svg+xml" href="~/images/logo.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MacroCalc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary border-bottom box-shadow mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Logo -->
                <a class="navbar-brand" asp-area="" asp-controller="MacroEntries" asp-action="Entry">
                    <img src="~/images/logo.svg" alt="Logo" style="height: 40px;" />
                </a>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- Left side -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <form asp-controller="MacroEntries" asp-action="NewDay" method="post">
                                <button class="nav-link" type="submit">New Day</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="MacroEntries" asp-action="EditEntry">Edit Day</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="MacroEntries" asp-action="History">History</a>
                        </li>
                    </ul>

                    <!-- Right side -->
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-area="Identity" asp-page="/Account/Logout"
                                      asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" class="d-inline">
                                    <button type="submit" class="nav-link">Logout</button>
                                </form>
                            </li>
                            
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MacroCalc
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
